.button {
  background-color: var(--yellow);
  color: var(--white);
  font-weight: 600;
  font-size: 1.1rem;
  padding: 10px 25px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background-color: goldenrod;
}