.feedback {
    display: flex;
    gap: 10px;
    padding: .8rem 1rem;
    border-radius: 8px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    border: 15px solid var(--light-grey);
    width: 100%;

}

.success {
    color: var(--dark-blue);
    background-color: var(--white);
}

.warning {
    color: #856404;
    background-color: #fff3cd;
    border: 15px solid lightyellow;
}

.message {
    padding: 2px 0;
}

/* Media Queries */
@media (min-width:1024px) {
    .feedback {
        min-width: 400px;
        position: relative;
        right: 20%;
    }
}