.feedback {
    display: flex;
    gap: 10px;
    padding: .8rem 1rem;
    border-radius: 8px;
    box-shadow: rgba(35, 35, 46, 0.1) 0px 0px 16px;
    width: 100%;

}

.success {
    color: var(--dark-blue);
    background-color: var(--white);
    border: 15px solid var(--light-grey);
}

.warning {
    color: #856404;
    background-color: #fff3cd;
    border: 15px solid lightyellow;
}

.info {
    color: var(--dark-blue);
    background-color: #cce5ff;
    border: 15px solid#e7f0f4;
}

.message {
    padding: 2px 0;
}