.books {
  position: relative;
  width: fit-content;
}

.books figure img {
  height: 190px;
  width: 125px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  object-fit: cover;
  border-radius: 10px;
}

.books figure {
  cursor: pointer;
}

.delete {
  cursor: pointer;
}

.bookmarked,
.delete {
  position: absolute;
  top: -3px;
  left: 95px;

}