.info {
  position: relative;
  top: 110px;
  padding: 5rem 0;
  background-image: url('../../images/blobs.png');
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  height: 100%;
  min-height: 100vh;
}

.img-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.cover {
  position: relative;
  height: 200px;
  width: 130px;
  border-radius: 10px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.cover img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.btn-group {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  /* width: 100%; */
}

.img-group button {
  background: none;
  padding: 10px 25px;
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--dark-blue);
  border: none;
  border-radius: 50px;
  border: 2px solid var(--dark-blue);
  width: 100%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.img-group button:hover {
  background-color: var(--dark-blue);
  color: var(--white);
}


h1.title {
  font-size: 1.5rem;
  padding-top: 2rem;
  text-align: center;
  color: var(--dark-blue);
}


.subtitle {
  text-align: center;
  color: var(--dark-blue);
  font-size: 1.1rem;
  padding-bottom: 1rem;
  font-weight: 300;
}

p.author {
  text-align: center;
  color: var(--med-grey);
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.book-categories {
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
}

.category {
  font-weight: 400;
  padding: 10px 20px;
  border-radius: 50px;
  border: 2px solid var(--dark-blue);
  color: var(--dark-blue);
  width: fit-content;
  transition: all 0.3s ease-in-out;
  text-align: center;
}

.category:hover {
  background-color: var(--dark-blue);
  color: var(--white);
}

p.description * {
  font-weight: 300;
  font-style: normal;
}

p.description {
  padding-top: 2rem;
  font-weight: 300;
}


.bookmarked {
  position: absolute;
  top: -3px;
  left: 95px;

}

@media (min-width: 768px) {
  .book-details-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
  }

  .book-info * {
    text-align: left !important;
  }

  .book-categories {
    justify-content: flex-start;
  }

  .cover-wrap {
    top: 70px;
  }

  .cover {
    height: 220px;
    width: 145px;
  }

  .img-group {
    justify-content: start;
  }

  p.author {
    font-size: 1.3rem;
  }

  h1.title,
  p.author {
    padding-top: 0;
  }

  h1.title {
    font-size: 1.8rem;
  }

  p.description *,
  p.description {
    font-size: 1.1rem;
  }

}

@media (min-width: 900px) {
  .info {
    top: 70px;
    background-position: center;
  }

  .wrap {
    top: 70px;
    min-height: auto;
  }
}