.books {
  position: relative;
  width: fit-content;
}

.icon {
  position: relative;
  top: 40px;
  right: -90px;
  background-color: var(--med-grey);
  border-radius: 5px;
  width: fit-content;
}

.books figure img {
  height: 200px;
  width: 130px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  object-fit: cover;
  border-radius: 10px;
}

.books figure {
  cursor: pointer;
}

.delete {
  position: absolute;
  top: -15px;
  left: 110px;
  background-color: var(--yellow);
  border-radius: 5px;
  padding: 4px;
  cursor: pointer;


}