.info {
  position: fixed;
  bottom: 10px;
  left: 0px;
  width: 100%;
}

.book-summary {
  background-color: var(--white);
  width: 95%;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 1rem;
}

.summary {
  display: grid;
  grid-template-columns: 100px auto;
  gap: 1rem;
  padding-bottom: 1rem;
}

.summary figure {
  height: 150px;
  width: 100px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.summary figure img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.summary article {
  width: 100%;
  margin-left: auto;
}

.summary-title {
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: var(--dark-blue);
  width: 90%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.summary-author {
  font-weight: 700;
  color: var(--dark-blue);
  letter-spacing: 1px;
}

.supporting-details {
  display: flex;
  color: var(--dark-blue);
  padding: 3px 0;
  flex-wrap: wrap-reverse;
}

.supporting-details :first-child {
  padding-right: 5px;
}

.supporting-details :first-child::after {
  content: " | ";
}

.summary-snippet {
  font-weight: 500;
  line-height: 130%;
  padding-top: 0.5rem;
  width: 90%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  color: var(--med-grey);
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  border-top: 1px solid gainsboro;
  padding-top: 0.875rem;
  cursor: pointer;
}

.actions p {
  padding: 8px 25px;
  font-weight: 600;
  color: var(--dark-blue);
  border-radius: 50px;
  border: 2px solid var(--dark-blue);
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.actions p:hover {
  background-color: var(--dark-blue);
  color: var(--white);
  border-radius: 50px;
  padding: 8px 25px;
}

.actions p span {
  padding-right: 5px;
}

@media (min-width: 450px) {
  .actions {
    justify-content: space-evenly;
  }
  .actions p {
    width: 45%;
  }
}

@media (min-width: 600px) {
  .info {
    bottom: 40px;
  }
  .book-summary {
    padding: 1.5rem;
  }

  .summary-title {
    font-size: 1.7rem;
  }
  .summary-snippet {
    font-size: 1.1rem;
  }
}
