.add-to-shelf-container {
    position: fixed;
    bottom: 10px;
    left: 0px;
    width: 100%;
}

.add-to-shelf {
    background-color: var(--white);
    width: 95%;
    max-width: 700px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.add-to-shelf h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--dark-blue);
}

.add-to-shelf figure {
    width: 40%;
    max-width: 200px;
    margin: 1rem auto;
}

.add-to-shelf img {
    width: 100%;
}

.allShelves {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    border-top: 1px solid gainsboro;
    padding-top: 0.875rem;

}

.allShelves p {
    padding: 8px 25px;
    font-weight: 600;
    color: var(--dark-blue);
    border-radius: 50px;
    border: 2px solid var(--dark-blue);
    width: fit-content;
    cursor: pointer;
}

.allShelves p:hover {
    background-color: var(--dark-blue);
    color: var(--white);
}


/* Media Queries */

@media (min-width:600px) {
    .add-to-shelf-container {
        position: relative;
    }
}