.create-shelf-container {
    position: fixed;
    bottom: 10px;
    left: 0px;
    width: 100%;
}

.create-shelf {
    background-color: var(--white);
    width: 95%;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.create-shelf h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--dark-blue);
}

.create-shelf p {
    width: 85%;
    margin: .5rem auto 1.5rem auto;
    font-weight: 500;
}


.create-shelf-form input {
    border: none;
    border-bottom: 2px solid rgba(58, 55, 104, 0.49);
    padding: 0.5rem;
    text-align: center;
    display: block;
    margin: 1.5rem 0;
    outline: none;
    color: rgba(58, 55, 104, 0.49);
    font-weight: 600;

}

.create-shelf-form input::placeholder {
    color: var(--dark-blue);
    font-weight: 600;
}

.create-shelf button {
    padding: 8px 25px;
    font-weight: 600;
    color: var(--dark-blue);
    border-radius: 50px;
    border: 2px solid var(--dark-blue);
    cursor: pointer;
    background-color: var(--white);
}

.create-shelf button:hover {
    background-color: var(--dark-blue);
    color: var(--white);
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

/* Media Queries */

@media (min-width:600px) {
    .create-shelf-container {
        position: relative;
    }

    .create-shelf {
        width: 100%;

    }
}