.shelves {
    padding-top: 80px;
}

.shelf-navbar {
    margin-top: 5rem;
    padding: 1rem 0;
    border-bottom: 1.5px solid rgba(166, 166, 166, 0.3);
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1.5rem;
    cursor: pointer;
    box-sizing: border-box;
}

.shelf-navbar h2 {
    min-width: fit-content;
    padding: 5px 10px;
    font-weight: 600;
    color: var(--dark-blue);
    border-radius: 50px;
    border: 2px solid var(--dark-blue);
}

.shelf-navbar h2:hover {
    background-color: var(--dark-blue);
    color: var(--white);
    transition: all 0.3s ease-in-out;
}

.shelf-links {
    display: flex;
    align-items: center;
    cursor: pointer;
    overflow: scroll;
    scrollbar-width: none;
}

.shelf-links::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}


.shelf-links p {
    margin-right: .5rem;
    min-width: max-content;
    padding: 5px 10px;
    font-weight: 600;
    color: var(--med-grey);
    border-radius: 50px;
    border: 2px solid var(--med-grey);
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.shelf-links p:hover {
    background-color: var(--med-grey);
    color: var(--white);

}

.add {
    cursor: pointer;
}

.active {
    background-color: var(--dark-blue);
    color: var(--white) !important;
}

.active:hover {
    background-color: var(--white) !important;
    color: var(--dark-blue) !important;
    border: 2px solid var(--dark-blue) !important;
}


/* Media Queries */
@media (min-width: 768px) {
    .shelf-navbar {
        padding-top: 1rem;
    }
}


@media (min-width:900px) {
    .shelf-navbar {
        margin-top: 0;
        /* padding: 0.5rem 0 1.5rem; */
    }

}