.hero {
  background-position: center;
  background-repeat: none;
  background-size: cover;
  height: 100vh;
  padding-top: 80px;
}

.hero-alt {
  background-position: 40%;
}

.hero-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 70%;
  max-width: 400px;
}

.hero-text h1 {
  width: 80%;
  margin-top: 5rem;
}

@media (min-width: 768px) {
  .hero-text {
    padding: 15rem 0 15rem;
  }
}

@media (min-width: 1024px) {
  .hero {
    height: 120vh;
  }

  .hero-text {
    padding: 10rem 0 12rem;
  }
}