.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 70px;
  background-color: white;
  padding: 0 2rem;
  width: 100%;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #c2a410;
}

.nav-items {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  background-color: #f2f2f2;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.nav-items li a {
  text-decoration: none;
  color: #3f3d56;
  font-weight: 700;
  font-size: 1.1rem;
}

.searchbar {
  position: absolute;
  top: 70px;
  left: 0;
  z-index: 3;
  background-color: rgb(226, 226, 226);
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchbar form {
  width: 80%;
  margin: 0 auto;
}

.searchbar input,
.desktop-search-bar input {
  border: 2px solid #c2a410;
  border-radius: 50px;
  padding: 9px 25px;
  width: 100%;
  color: #c2a410;
  font-weight: 600;
}

.desktop-search-bar input::placeholder {
  color: #c2a410;
  font-size: 1.1rem;
}

.desktop-search-bar {
  display: none;
}

@media (min-width: 768px) {
  .search-icon {
    /* position: absolute;
    left: -100px; */
    display: none;
  }

  .desktop-search-bar {
    display: grid;
    width: 50%;
  }

  .btnlog {
    order: 1;
  }
}

@media (min-width: 900px) {
  .navbar {
    justify-content: space-around;
  }
  .nav-items {
    position: relative;
    width: 30%;
    top: 0px !important;
    background: none;
    box-shadow: none;
    gap: 2rem;
    margin-left: auto;
  }

  .desktop-search-bar {
    width: 120px;
    margin-left: auto;
    margin-right: 20px;
  }

  .desktop-search-bar:hover {
    width: 300px;
  }

  .desktop-search-bar input:focus {
    outline: none;
  }
}
