.results {
  position: relative;
  top: 100px;
  padding: 5rem 0;
}

.results h1,
.results h1 span {
  padding-bottom: 2rem;
  font-size: 1rem;
}

.allBooks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem;
}

@media (min-width: 1024px) {
  .results {
    top: 50px;
  }
}
