.login {
  background-color: var(--white);
  text-align: center;
  padding: 2rem 0;
}

.login h1 {
  font-size: 1.5rem;
  color: var(--dark-blue);
}

.shelf {
  width: 100%;
  height: 150px;
}

.shelf img {
  width: 100%;
  height: 100%;
}

.sign-in {
  margin-top: 3rem;
  font-weight: 600;
  font-size: 1.1rem;
  padding: 8px 25px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid var(--dark-blue);
  border-radius: 50px;
  background-color: var(--white);
  color: var(--dark-blue);
  cursor: pointer;
}
