* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

:root {
  --yellow: #c2a410;
  --light-grey: #f2f2f2;
  --dark-blue: #3f3d56;
}

.para {
  line-height: 135%;
  padding: 2rem 0;
  letter-spacing: 1.5px;
}

/* main {
  padding-top: 140px;
  z-index: 20;
} */
