* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

:root {
  --yellow: #c2a410;
  --light-grey: #f2f2f2;
  --dark-blue: #3f3d56;
  --light-yellow: #f9f6e7;
  --light-blue: #c8e0eb;
  --med-grey: rgba(0, 0, 0, 0.45);
  --white: #fff;
}

.para {
  line-height: 135%;
  padding: 2rem 0;
  letter-spacing: 1.5px;
  margin: 0;
}

/* Books */

.books-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  gap: 2rem;
  place-items: center space-between;
  margin: 0 auto;
}

/* Actions */

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  border-top: 1px solid gainsboro;
  padding-top: 0.875rem;
  cursor: pointer;
}

.actions p {
  padding: 8px 25px;
  font-weight: 600;
  color: var(--dark-blue);
  border-radius: 50px;
  border: 2px solid var(--dark-blue);
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.actions p:hover {
  background-color: var(--dark-blue);
  color: var(--white);

}

.actions p span {
  padding-right: 5px;
}



/* Media Queries */
@media (min-width: 450px) {
  .actions {
    justify-content: space-evenly;
  }

  .actions p {
    width: 45%;
  }
}

@media (min-width: 768px) {
  .books-grid {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    place-items: center;
  }

  .para {
    font-size: 16px;
  }
}