* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

:root {
  --yellow: #c2a410;
  --light-grey: #f2f2f2;
  --dark-blue: #3f3d56;
  --light-yellow: #f9f6e7;
  --light-blue: #c8e0eb;
  --med-grey: rgba(0, 0, 0, 0.45);
  --white: #fff;
}

.para {
  line-height: 135%;
  padding: 2rem 0;
  letter-spacing: 1.5px;
  margin: 0;
}

@media (min-width: 768px) {
  .para {
    font-size: 16px;
  }
}
/* main {
  padding-top: 140px;
  z-index: 20;
} */

.books-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  gap: 2rem;
  place-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .all {
    place-items: center space-between;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
