.genre {
  background-image: url("../../images/wave_vector.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 100vh; */
}

.wrap {
  padding-top: 4rem;
}
.paragraph {
  text-align: center;
}

.genre-item {
  font-weight: 600;
  font-size: 1.1rem;
  padding: 10px 25px;
  border-radius: 50px;
  border: 2px solid var(--dark-blue);
  color: var(--dark-blue);
  text-align: center;
  min-width: 120px;
  width: fit-content;
}

.genre-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: 1rem;
  margin: 2rem 0;
  place-items: center;
}

.genre-img {
  width: 100%;
  margin: 4rem 0;
  padding-bottom: 3rem;
}

.genre-img img {
  width: 100%;
  transform: scale(1.2);
  margin-top: 2rem;
}

@media (min-width: 768px) {
  /* .genre-group {
    width: 50%;
    margin: 0 auto;
  } */

  .genre article {
    width: 65%;
    margin: 0 auto;
  }

  .genre-img img {
    transform: scale(1);
  }
}

@media (min-width: 1024px) {
  .wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
