.genre {
  background-image: url("../../images/wave_vector.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 120vh;
  background-color: rgb(197, 165, 40);
  padding: 2rem 0;
}

.wrap {
  padding-top: 4rem;
}
.paragraph {
  text-align: center;
}

.genre-item {
  font-weight: 600;
  font-size: 1.1rem;
  padding: 10px 25px;
  border-radius: 50px;
  border: 2px solid var(--dark-blue);
  color: var(--dark-blue);
  text-align: center;
  min-width: 120px;
  width: fit-content;
}

.genre-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: 1rem;
  margin: 2rem 0;
  place-items: center;
}

.genre-img {
  margin: 0 auto;
  padding: 3rem 0;
  width: 90%;
}

.genre-img img {
  width: 100%;
}

@media (min-width: 768px) {
  .genre {
    height: 140vh;
  }

  .genre-img {
    padding: 0;
    width: 80%;
  }

  .genre article {
    width: 65%;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .genre {
    height: 100vh;
  }

  .wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 3rem;
    align-items: center;
    justify-content: space-between;
  }

  .wrap article {
    padding: 3rem 0;
    max-width: 400px;
  }
  .wrap article h1,
  .wrap article .paragraph {
    text-align: left;
  }

  .genre article {
    width: 90%;
  }

  .genre-item {
    margin-right: auto;
  }

  .genre-img img {
    transform: scale(1.2);
  }
}
