.hero {
  background-image: url("../../images/covers.png");
  background-position: center;
  background-repeat: none;
  background-size: cover;
  height: 100vh;
  padding-top: 80px;
}

.hero-text {
  margin: 15rem 0;
  width: 80%;
}
