.hero {
  background-position: center;
  background-repeat: none;
  background-size: cover;
  height: 100%;
  padding-top: 80px;
}

.hero-text {
  padding: 15rem 0;
  width: 80%;
  max-width: 400px;
}

@media (min-width: 768px) {
  .hero-text {
    padding: 15rem 0 15rem;
  }
}

@media (min-width: 1024px) {
  .hero-text {
    padding: 10rem 0 12rem;
  }
}