.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 70px;
  background-color: white;
  padding: 0 2rem;
  width: 100%;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--yellow);
}

.nav-items {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  padding: 2rem 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  background-color: rgba(236, 236, 236, 0.522);
  backdrop-filter: blur(20px);
  z-index: 2;
  gap: 2rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.nav-items li a {
  text-decoration: none;
  font-size: 1.1rem;
}

.searchbar {
  position: absolute;
  top: 70px;
  left: 0;
  z-index: 3;
  background-color: rgba(226, 226, 226, 0.6);
  backdrop-filter: blur(10px);
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchbar form {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.searchbar label {
  position: absolute;
  top: 10px;
  right: 15px;
}

.searchbar input,
.desktop-search-bar input {
  border: 2px solid var(--yellow);
  border-radius: 50px;
  padding: 9px 18px;
  padding-right: 40px;
  width: 100%;
  color: var(--yellow);
  font-weight: 600;
}

.searchbar input:focus,
.desktop-search-bar input:focus {
  outline: none;
}

.desktop-search-bar input::placeholder {
  color: var(--yellow);
  font-size: 1.1rem;
}

.desktop-search-bar {
  display: none;
}

.search-icon {
  cursor: pointer;
}

@media (min-width: 768px) {
  .search-icon {
    /* position: absolute;
    left: -100px; */
    display: none;
  }

  .searchbar label {
    position: relative;
    top: 50px;
    right: 80px;
  }

  .desktop-search-bar {
    display: grid;
    width: 50%;
  }

  .desktop-search-bar form {
    position: relative;
  }

  .desktop-search-bar label {
    position: absolute;
    top: 10px;
    right: 15px;
  }

  .btnlog {
    order: 1;
  }
}

@media (min-width: 900px) {
  .navbar {
    justify-content: space-around;
  }

  .nav-items {
    position: relative;
    width: 30%;
    top: 0px !important;
    background: none;
    box-shadow: none;
    margin-left: auto;
    background: none;
    backdrop-filter: none;
  }

  .desktop-search-bar {
    width: 120px;
    margin-left: auto;
    margin-right: 20px;
  }
}