nav {
  height: 10vh;
  position: relative;
  box-shadow: 0px 4px 50px rgba(149, 149, 149, 0.297);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

p.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #c2a410;
}

.menu {
  position: absolute;
  top: 10vh;
  left: 0;
  background-color: rgb(255, 255, 255);
  width: 100%;
  border: 1px solid #d4d4d42e;
}

ul.navlinks li {
  list-style: none;
  text-align: center;
  padding: 0.875rem 0;
}

ul.navlinks li a {
  text-decoration: none;
  color: #3f3d56;
  font-weight: 600;
  font-size: 1.05rem;
}

form {
  position: relative;
}

label {
  position: absolute;
  top: 12px;
  left: 90px;
}
input {
  color: #c2a410;
  border: 2px solid #c2a410;
  border-radius: 50px;
  font-weight: 600;
  font-size: 1.1rem;
  padding: 10px 30px;
  width: 140px;
  /* max-width: 250px; */
}

.btngroup {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.menu-icon {
  cursor: pointer;
}

/* Media Queries */

@media (min-width: 768px) {
  .menu-icon {
    display: none;
  }

  .menu {
    position: relative;
    background: none;
    border: none;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 75%;
    align-items: center;
  }

  ul.navlinks {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ul.navlinks li {
    padding: 0 0.5rem;
  }
}

@media (min-width: 1000px) {
  .menu {
    justify-content: space-between;
    width: 60%;
  }

  nav {
    padding: 0 4rem;
  }
}
